.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.actions-checkbox-container > input {
  margin-right: 5px;
}

.actions-checkbox-container span {
  font-weight: bold;
}

.action-buttons {
  display: flex;
  gap: 15px;
}

.action-button {
  all: unset;
  cursor: pointer;
}

.action-button:hover {
  opacity: 0.7;
}

.action-button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
