.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.actions-checkbox-container > input {
  margin-right: 5px;
}

.actions-checkbox-container span {
  font-weight: bold;
}

.action-buttons {
  display: flex;
  gap: 15px;
}
